-# <チャット画面>
.Chat-main
  .Chat-main__group-info
    .Info
      .Info__name
        = @group.name
      %ul.Info__member-list
        Member：
        %li.Info__member-list--member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group) ,class:'Info-edit' do
      Edit

  .Chat-main__message-list
    = render @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], class: "Form", local: true do |f|
      .Form-input
        = f.text_field :content, class:'Form-input__text', placeholder: 'type a message'
        = f.label :image, class:'Form-input__image' do
          = icon('far', 'image', class:"Form-input__image--icon")
          = f.file_field :image, class: 'Form-input__image--file'
      = f.submit 'Send', class: 'Send-btn'
